<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<body>
    <div class="container">
        <!-- Log In form -->
        <div class="form-container log-in">
            
            <div class="login-container">
                    <h1>Block-22</h1>
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter your username or email" name="username" required>
        
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter your password" name="psw" required>
                    
            </div>
            <div class="social">
                    <a href="#"><i class="fab fa-google"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="button">
                    <button type="submit">Log In</button>
            </div>
            
            
        </div>

        <!-- Sign Up form -->
        <div class="form-container sign-up">
            <div class="signup-container">
                    <h1>First Time</h1>
                    <h3>Use your social media accounts.</h3>
                    <div class="social">
                            <a href="#"><i class="fab fa-google"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                    <h3>Or</h3>
        
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>
        
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
        
                    <label for="psw-repeat"><b>Confirm Password</b></label>
                    <input type="password" placeholder="Confirm Password" name="psw-repeat" required>
                    <p>By signing up you agree to our <a href="#">Terms & Services</a></p>
            </div>

            <div class="button">
                    <button type="submit">Sign Up</button>
            </div>
        </div>
    </div>


</body>
</html>